name: Deploy cw2-media-api (Logic App)

on:
  push:
    branches: [ "main" ]
    paths:
      - "infra/cw2-media-api/**"
      - ".github/workflows/deploy-cw2-media-api.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy ARM template
        uses: azure/arm-deploy@v2
        with:
          scope: resourcegroup
          resourceGroupName: rg-com682-cw2
          template: infra/cw2-media-api/template.json
          parameters: infra/cw2-media-api/parameters.json
